<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-xl-10">
            <div class="card mt-4" style="border-radius: 1.5rem;">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="../assets/login.jpg" alt="login form" class="img-fluid"
                            style="height: 100%; width: 100%;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-5 p-lg-5 text-black">
                            <form class="mt-2" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="d-flex align-items-center mb-1 pb-1">
                                    <span class="h1 fw-bold mb-0" style="text-align: center;"> <img
                                            src="https://assets.ajio.com/static/img/Ajio-Logo.svg" width="70px"
                                            height="40px" alt="AJIO"></span>
                                </div>

                                <h5 class="fw-normal mb-2 pb-1 ms-3" style="letter-spacing: 1px; text-align: center;">
                                    Sign into your account
                                </h5>

                                <div class="form-outline mb-2 ms-5">
                                    <div class="form-group">
                                        <label class="mb-1">User Email &nbsp;</label>
                                        <input type="email" class="form-control" name="useremail"
                                            formControlName="useremail" placeholder="User Email">
                                        <label class="error ng-binding"
                                            *ngIf="submitted && f['useremail'].errors?.['required']">Email is
                                            required</label>
                                        <label class="error ng-binding"
                                            *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must be
                                            a valid email address</label>
                                    </div>
                                </div>

                                <div class="form-outline mb-2 ms-5">
                                    <label class="mb-1">Password &nbsp;</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password"
                                            formControlName="password" placeholder="Password">
                                        <label class="error ng-binding"
                                            *ngIf="submitted && f['password'].errors?.['required']">Password is
                                            required</label>
                                        <label class="error ng-binding"
                                            *ngIf="submitted && f['password'].errors?.['minlength']">Password must
                                            be at least 6 characters</label>
                                    </div>
                                </div>

                                <div class="pt-1 mb-4">
                                    <button class="btn btn-dark" style="text-align: center;margin-left:200px ;"
                                        type="submit" href="">Login</button>
                                </div>
                                <div class="small text-muted mb-4" style="text-align: center; margin-left: 10px;">By
                                    Signing In, I agree to Terms and
                                    Conditions.</div>
                                <p class="mb-2 pb-lg-2" style="color: #393f81;text-align: center;">Don't have an
                                    account? <a href="register" class="secondary ng-binding" target="_blank">Register
                                        here</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>